@yellow: #fffa19;
@fucsia: #d8bfd8;

.margenes(@top:0px,@bottom:0px){
    margin-top:@top;
    margin-bottom:@bottom;
}
.padding(@top:0px,@right:0px,@bottom:0px,@left:0px){
    padding-top:@top;
    padding-right:@right;
    padding-bottom:@bottom;
    padding-left:@left;
}


.jumbotron {
  background-color: @fucsia;
  color: black;
  .margenes(50px,5px) }

footer {
  .padding(10px,10px,0px,10px);
  background-color: @fucsia;
  .margenes(10px,0px) }

.card-hotel {
  flex: 1 200px;
  .padding(2px,5px,2px,5px);
  .margenes(10px,0px) }

.card-header {
  height: 65px; }

.card-img-top {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.img-fluid {
  padding-top: 15px; }

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%; }

/*Clases para modificar el color de las ventanas modal*/
.modal-header-success {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.modal-header-warning {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #f0ad4e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.modal-header-danger {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #d9534f;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.modal-header-info {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #5bc0de;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.modal-header-primary {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #428bca;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
